<!DOCTYPE html>
<html>
<head>
  <title>Konect - Connecting Service Providers and Consumers</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
<style>
  body{
    background-color: #00A6A6;
  }
  nav h1 {
    color: #ffffff;
    
  }
  .container h4{
    color: #ffffff;
    font-size: 30px;
  }
</style>
</head>
<body>
  <nav>
    <h1>Konect</h1>
  </nav>

  <section class="container">
    <h4>Konnecting You To People Who Matters</h4>
    <p>Get started today. Get konected with a service provider for your needs 
      or register as a service provider</p>
    <section id="call-to-action">
      <button class="btn btn-primary m-3"><a href="service_provider_login.html" class="btn">I'm a Service Provider</a></button><br>
      <button class="btn btn-primary"><a href="consumer_login.html" class="btn">I'm Looking for a Service Provider</a></button>
    </section>
  </section>

<hr>
  <div class="container text-center">
    <div class="row">
      <div class="card col-sm m-3 p-2">
        <i class="fa-solid fa-comment-dots fa-5x"></i><br>
        <span class="title"><h5>Easy Communication:</h5></span>
        <p>Chat directly with service providers 
        to discuss your requirements and get the job done efficiently.</p>
      </div>
      <div class="card col-sm m-3 p-2">
        <i class="fa-solid fa-circle-check fa-5x"></i>
        <span class="title"><h3>Verified Service Providers:</h3></span>
        <p class="desc">assured that all service providers
          on Konect are verified and trustworthy.</p> 
      </div>
      <div class="card col-sm m-3 p-2">
        <i class="fa-regular fa-square-check fa-5x"></i>
        <span class="title"><h3>Find the Right Service Provider:</h3></span> 
        <p class="desc">Konect allows you to search and connect with service 
        providers based on your specific needs.</p>
    </div>
  </div>


<hr>

  <section id="container">
    <center><h3>TESTIMONIALS</h3></center>
    <div class="row">
       <div class="card col-sm m-3 p-2">
        <span class="ic">LoremPicsum</span>Find the Right Service Provider
        <p class="desc">Konect allows you to search and connect with service 
        providers based on your specific needs.</p>
      </div>

      <div class="card col-sm m-3 p-2">
        <span class="title">Verified Service Providers:</span>
        <p class="desc">assured that all service providers
          on Konect are verified and trustworthy.</p> 
      </div>
      <div class="card col-sm m-3">
        <div class="card-header"> <i class="fa-regular fa-square-check fa-5x"></i><h4 class="title m-2">Tayu Emery</h4>
        </div>
        <p>"Chat directly with service providers 
        to discuss your requirements and get the job done efficiently."</p>
      </div>
    </div> 
  </section>

  <center><h1 class="contactusheader">Contact Us</h1></center>
        <div class="contact"> 
            <div class="instagram">
                <p class="">&theta;</p>
                <h3>+237650293551</h3>
            </div>
            <div class="facebook">
                <p class="">&times</p>
                <h3>prospertayu2@gmail.com</h3>
            </div>
            <div class="twitter">
                <p class="">&times</p>
                <h3>650293551</h3>
            </div>
        </div> 
    </div>
    <div class="footer">
        <center><p>All Rights Reserved ByteTech Copyright 2022</p></center>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f6d3e01bef.js" crossorigin="anonymous"></script>
</html>
